*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid transparent;
    background-color: #1c1c94;
    
}

.link{
    text-decoration: none;
    font-weight: bolder;
    color: aliceblue;
}

.link2{
    text-decoration: none;
    padding-right: 30px;
    font-weight: bolder;
    color: aliceblue;
}

.link1{
    text-decoration: none;
    padding-left: 30px;
    font-weight: bolder;
    color: aliceblue;
}

.username{
    display:inline-block ;
    
}

.greetings{
    text-align: center;
    padding: 80px 0px 0px 0px;
    color: #1c1c94;
    
}

.container{
    height: 60vh;
    width: 90vw;
    
    margin-top: 60px;
    margin-left: 80px;
    border-radius: 10px;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    
}

.subcontainer{
    height: 60vh;
    width: 43vw;
    background-color: #c6c8e88f;
    border-radius: 20px;
}



body{
    background-color: rgb(230 236 246);
    
}

.footer{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color:#00000087;
    margin-top: 70px;
}

#temp{
    font-size: 100px;
    text-align: center;
    padding: 130px 0px 0px 0px;
    opacity: 0.3;
    color: #1c1c94;
}

#humidity{
    font-size: 50px;
    text-align: center;
    opacity: 0.3;
    color: #1c1c94;
}

.temp{
    display: inline-block;
    font-size: 100px;
    text-align: center;
}

.humidity{
    display: inline-block;
    font-size: 50px;
}

.button{
    width: 180px;
    height: 180px;
    background-color: cornflowerblue;
    border-radius: 30px;
    cursor: pointer;
    margin: 30px 70px;
    color:aliceblue;
    font-size: 30px;
    box-shadow: inset;
}

.button:hover{
    background-color: white;
    color:cornflowerblue;
}